/** Header Section **/
.po-body:not(.hide-sidebar) .po-nav .logo {
  padding: 0;
  display: block; }
  .po-body:not(.hide-sidebar) .po-nav .logo .po-icon {
    display: none; }
  .po-body:not(.hide-sidebar) .po-nav .logo span {
    padding: 0.2rem 2.8rem;
    display: block; }

/** Sidebar Section **/
.po-body.hide-sidebar .po-nav .logo {
  padding: 0; }
  .po-body.hide-sidebar .po-nav .logo .po-icon {
    display: block !important;
    padding: 0.3rem;
    max-width: 55px;
    line-height: 55px; }

/** Wrapper Section **/
#page-wrapper {
  background: #dde6ef; }

.po-partner-tab.tabs-style-flip {
  max-width: 100%; }
.po-partner-tab nav {
  background: #dde6ef; }
  .po-partner-tab nav li a {
    border-left: 1px solid #C1D3E5; }
    .po-partner-tab nav li a:hover {
      color: #2cabe3; }
  .po-partner-tab nav li.tab-current a {
    color: #FFF; }
    .po-partner-tab nav li.tab-current a::after {
      background: #2cabe3; }
    .po-partner-tab nav li.tab-current a a:hover {
      color: #FFF; }

.daterangepicker td.in-range {
  background: #ccefff; }
.daterangepicker td.active, .daterangepicker td:hover {
  background-color: #357ebd;
  border-color: #3071a9; }
.daterangepicker .ranges {
  display: none; }

.po-partner-tab .content-wrap section {
  min-height: 45vh; }

.po-bookings {
  padding: 0 30px 30px 30px; }
  .po-bookings .manage-u-table .checkbox input[type="checkbox"] {
    height: 17px;
    width: 17px; }
    .po-bookings .manage-u-table .checkbox input[type="checkbox"] + label::before {
      background: #C4D2E0; }
  .po-bookings .manage-u-table .checkbox input[type="checkbox"]:checked + label::before {
    background: #2cabe3; }
  .po-bookings .manage-u-table select {
    max-width: 200px;
    border-radius: 60px;
    border-color: #BFCAD5; }
  .po-bookings .manage-u-table .po-ticket li {
    color: #9B9B9B;
    font-size: 0.8em;
    font-weight: 500;
    border-right: 1px solid rgba(0, 0, 0, 0.25); }
    .po-bookings .manage-u-table .po-ticket li i {
      margin-right: 0.8rem;
      color: #797979; }
    .po-bookings .manage-u-table .po-ticket li:last-child {
      border: 0; }
  .po-bookings .manage-u-table .editable-inline .combodate {
    white-space: nowrap; }
  .po-bookings .manage-u-table .po-tour-wrap {
    white-space: normal;
    min-width: 500px;
    text-align: justify; }
    .po-bookings .manage-u-table .po-tour-wrap .po-tour-descp {
      min-width: 300px; }
      .po-bookings .manage-u-table .po-tour-wrap .po-tour-descp li {
        color: #9B9B9B;
        font-size: 0.8em;
        font-weight: 500;
        margin: 0;
        padding-left: 1.8rem;
        position: relative; }
        .po-bookings .manage-u-table .po-tour-wrap .po-tour-descp li::before {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 100%;
          position: absolute;
          top: 0.6rem;
          left: 5px;
          background: #9B9B9B; }

body.stop-scrolling {
  height: 100vh; }

.po-payment-tab nav {
  background: #dde6ef; }
  .po-payment-tab nav li a {
    border-left: 1px solid #C1D3E5; }

.po-bg-light {
  background: #dde6ef; }

.user-profile .user-pro-body span {
  width: 100%; }
  .user-profile .user-pro-body span label {
    padding: 0.5rem;
    background: #dde6ef;
    width: 100%;
    margin: 0.7rem 0 1.8rem 0;
    text-transform: uppercase; }
.user-profile .user-pro-body img {
  max-width: 100%;
  width: 100%;
  padding: 0 4.5rem;
  margin: 0; }

.po-form-submit .checkbox input[type="checkbox"] {
  height: 17px;
  width: 17px; }
  .po-form-submit .checkbox input[type="checkbox"] + label::before {
    background: #C4D2E0; }
.po-form-submit .checkbox input[type="checkbox"]:checked + label::before {
  background: #2cabe3; }

/*# sourceMappingURL=global.css.map */