@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bhm9e8');
  src:  url('../fonts/icomoon.eot?bhm9e8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bhm9e8') format('truetype'),
    url('../fonts/icomoon.woff?bhm9e8') format('woff'),
    url('../fonts/icomoon.svg?bhm9e8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-padharo-icon:before {
  content: "\e900";
}
.icon-star-o:before {
  content: "\e901";
}
.icon-star-f:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-nearby:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-location-pin:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e907";
}
.icon-heart-o:before {
  content: "\e908";
}
.icon-heart-f:before {
  content: "\e909";
}
.icon-ellipse:before {
  content: "\e90a";
}
.icon-circle-top:before {
  content: "\e90b";
}
.icon-circle-right:before {
  content: "\e90c";
}
.icon-circle-left:before {
  content: "\e90d";
}
.icon-circle-bottom:before {
  content: "\e90e";
}
.icon-arrow-top:before {
  content: "\e90f";
}
.icon-arrow-right:before {
  content: "\e910";
}
.icon-arrow-left:before {
  content: "\e911";
}
.icon-arrow-bottom:before {
  content: "\e912";
}
.icon-padharo:before {
  content: "\e913";
}
.icon-padharo-logo:before {
  content: "\e914";
}
.icon-user-f:before {
  content: "\e915";
}
.icon-user-o:before {
  content: "\e916";
}
.icon-audio-guide:before {
  content: "\e917";
}
.icon-location-pin-f:before {
  content: "\e918";
}
.icon-location-pin-o:before {
  content: "\e919";
}
.icon-places:before {
  content: "\e91a";
}
.icon-bus:before {
  content: "\e91b";
}
.icon-car:before {
  content: "\e91c";
}
.icon-flight:before {
  content: "\e91d";
}
.icon-guide:before {
  content: "\e91e";
}
.icon-home:before {
  content: "\e91f";
}
.icon-hotel:before {
  content: "\e920";
}
.icon-notification:before {
  content: "\e921";
}
.icon-package:before {
  content: "\e922";
}
.icon-restaurant:before {
  content: "\e923";
}
.icon-shopping:before {
  content: "\e924";
}
.icon-ticket .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-ticket .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ticket .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path7:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path8:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-ticket .path9:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ticket .path10:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ticket .path11:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ticket .path12:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ticket .path13:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-train:before {
  content: "\e932";
}
.icon-star-h:before {
  content: "\e933";
}
.icon-circle-f:before {
  content: "\e934";
}
.icon-circle-o:before {
  content: "\e935";
}
.icon-settings:before {
  content: "\e936";
}
.icon-spport:before {
  content: "\e937";
}
.icon-atm:before {
  content: "\e938";
}
.icon-city-services:before {
  content: "\e939";
}
.icon-emergency:before {
  content: "\e93a";
}
.icon-faq .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 0);
}
.icon-faq .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-faq .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-faq .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-feedback:before {
  content: "\e93f";
}
.icon-forex:before {
  content: "\e940";
}
.icon-fuel:before {
  content: "\e941";
}
.icon-help:before {
  content: "\e942";
}
.icon-hospital:before {
  content: "\e943";
}
.icon-info:before {
  content: "\e944";
}
.icon-invite:before {
  content: "\e945";
}
.icon-parking .path1:before {
  content: "\e946";
  color: rgb(0, 0, 0);
}
.icon-parking .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-restroom:before {
  content: "\e948";
}
.icon-images:before {
  content: "\e949";
}
.icon-camera:before {
  content: "\e94a";
}
.icon-qrcode:before {
  content: "\e94b";
}
.icon-phone:before {
  content: "\e94c";
}
.icon-print:before {
  content: "\e954";
}
.icon-chat:before {
  content: "\e96b";
}
.icon-download:before {
  content: "\e9c7";
}
.icon-upload:before {
  content: "\e9c8";
}
.icon-refresh:before {
  content: "\ea2e";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
